header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 3%;
}

header #own-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

header img {
    height: 80px;
    width: auto;
}

header h1 {
    display: inline;
    padding-left: 20px;
}

header p {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header a {
    padding-left: 10px;
}

